/vendor
/node_modules
/public/build
.env
.phpunit.result.cache
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/*.key
/storage/logs
/storage/framework
/public/storage
/mobile/test/failures
/coverage.xml
